<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <!-- Loading third party fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body class="site-content">

    <!-- .site-header -->
    <div class="site-header">
				<div class="container">
					<a asp-area="" asp-controller="Home" asp-action="Index" class="branding">
						<img src="~/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">C# Weather</h1>
							<small class="site-description">Weather through code</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                        <ul class="menu">
                            <li class="menu-item current-menu-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                            <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Index">My Weather</a></li>
                                <li class="menu-item"><a asp-area="" asp-controller="Regions" asp-action="Index">My Locations</a></li>
                                <li class="menu-item"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                            }
                            else
                            {
                                <li class="menu-item"><a asp-controller="Account" asp-action="Login">Login</a></li>
                            }
                        </ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</div> 


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<p class="colophon">&copy 2021 C# Weather. Designed by Group 1. All rights reserved</p>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<p class="colophon">Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a></p>
							<a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>
						</div>
					</div>
				</div>
			</footer> <!-- .site-footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~lib/jquery/dist/plugins.js"></script> *@
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
